[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.20.0"

[dev-packages]
pytest = "==4.0.2"
pytest-cov = "==2.5.1"
pytest-mock = "==1.7.1"
coverage = "*"
codecov = "*"

[requires]
python_version = "3.6"
